vendor

source/.htaccess
source/.htpasswd

source/out/downloads/*
!source/out/downloads/.htaccess
!source/out/downloads/README.txt
!source/out/downloads/uploads
!source/out/downloads/uploads/dir.txt

source/out/media/*
!source/out/media/*.txt

source/out/pictures/**/*.jpg
source/out/pictures/**/*.gif
source/out/pictures/**/*.png
source/out/pictures/**/*.svg
source/out/pictures/**/*.pdf
#!source/out/pictures/**/dir.txt
!source/out/pictures/master/nopic.jpg

source/out/rte/*

source/tmp/*
!source/tmp/.htaccess

# Cache
source/cache/
!source/cache/.htaccess
!source/cache/dir.txt


source/log/*
!source/log/.htaccess
!source/log/index.html

source/export/*
!source/export/index.html

source/config.inc.php

# Oxid modules
source/modules/oe/oepaypal/logs*


# Test
.ide-helper.php
test_config.yml
